<div data-ng-controller="HeaderController">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Settings"> <md-icon
			ng-click="toggleMenu()" md-svg-icon="modules/core/img/icons/menu.svg"></md-icon>
		</md-button>


		<div class="navbar-header">
			<button class="navbar-toggle" type="button"
				data-ng-click="toggleCollapsibleMenu()">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a href="/#!/">Koppek</a>
		</div>

		<span flex></span>
		<nav class="collapse navbar-collapse" collapse="!isCollapsed"
			role="navigation">

			<ul class="nav navbar-nav navbar-right"
				data-ng-hide="authentication.user">
				<li ui-route="/signup" ng-class="{active: $uiRoute}"><a
					href="/#!/signup">Sign Up</a></li>
				<li class="divider-vertical"></li>
				<li ui-route="/signin" ng-class="{active: $uiRoute}"><a
					href="/#!/signin">Sign In</a></li>
			</ul>
		</nav>
		<md-button href="/#!/deals/create" aria-label="Ajouter un deal" show-sm hide-gt-sm>
		<span class="glyphicon glyphicon-plus"></span></md-button>
		<md-button href="/#!/deals/create" aria-label="Ajouter un deal" hide-sm>Ajouter un deal</md-button>

		<md-button class="md-icon-button" aria-label="Favorite"> <md-icon
			md-svg-icon="modules/core/img/icons/favorite.svg"></md-icon> </md-button>
		<md-button class="md-icon-button" aria-label="More"> <md-icon
			md-svg-icon="modules/core/img/icons/more_vert.svg"></md-icon> </md-button>
	</div>
	</md-toolbar>
</div>