<section data-ng-controller="HomeController">
    <div layout="column">
        <div data-ng-controller="MapsController"
            data-ng-init="HomeMap()" hide-sm>
<!--                 <input id="pac-input" type="text"
                    placeholder="Enter a location">
 -->            <div map-canvas id="map-canvas" style="height: 500px;"></div>
        </div>
        <div>
                <md-card><!-- <md-subheader class="md-primary">Recherche
                de deals</md-subheader>--> <md-card-content>
                <div layout="row" layout-sm="column" offset-md ="1" offset-gt-md="4">
                    <md-input-container class="md-accent" flex-gt-sm="30">
                    <label hide-sm>Où voulez-vous chercher ?</label> <input id="pac-input"
                        type="text"> </md-input-container>
                    <div offset-gt-sm="1"></div>
                    <md-input-container class="md-accent" flex-gt-sm="30">
                    <label>Cercle de recherche</label> <md-slider
                        class="md-accent" flex-md="25" flex-gt-md="30" min="1" max="100"
                        value="20" ng-init="HomesrchRadius = 20"
                        ng-model="HomesrchRadius" aria-label="HomesrchRadius"
                        id="HomesrchRadius-slider"> </md-slider> </md-input-container>
                    <div offset-gt-sm=="1"></div>
                    <md-input-container flex-md="10" flex-gt-md="5"> <label
                        ng-model="HomesrchRadius">km</label> <input type="number"
                        ng-model="HomesrchRadius" aria-label="HomesrchRadius"
                        aria-controls="HomesrchRadius-slider"> </md-input-container>
                    <div offset-gt-sm="1"></div>
                    <md-input-container flex-gt-sm="15"> <md-checkbox
                        ng-model="data.cb1" aria-label="Checkbox 1">Deal
                    internet ?</md-checkbox> </md-input-container>
                    <div offset-gt-sm="1"></div>
                    <md-input-container flex-gt-sm="15" flex-md="20"> <md-button
                        class="md-raised md-primary" href="/#!/deals">Rechercher</md-button>
                    </md-input-container>
                </div>
            </md-card-content> </md-card>

            <div layout-margin layout-fill layout-padding
                layout-align="space-around start">


                <h2>Bienvenue sur Koppek</h2>
                <md-content>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Donec scelerisque, lorem ut commodo
                    hendrerit, nisl orci tincidunt libero, vitae
                    placerat orci risus sed metus. Morbi vitae accumsan
                    urna. Maecenas nec eros ut nulla porta aliquam et
                    luctus urna. Cras aliquet nulla vitae mattis
                    malesuada. Sed eget dui turpis. Maecenas aliquet
                    erat lacus, vitae tempor velit tempus eu. Phasellus
                    lobortis cursus diam, in dapibus nisl viverra nec.
                    Nullam a sapien posuere, varius elit et,
                    sollicitudin turpis. Mauris ac erat eget dui mattis
                    sodales. Duis non eros at augue pulvinar imperdiet
                    ac a neque. Nulla at mauris at odio vehicula sodales
                    quis rhoncus eros. Donec leo ligula, vehicula
                    aliquet aliquet sed, eleifend quis magna.</p>
                <br />
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Donec scelerisque, lorem ut commodo
                    hendrerit, nisl orci tincidunt libero, vitae
                    placerat orci risus sed metus. Morbi vitae accumsan
                    urna. Maecenas nec eros ut nulla porta aliquam et
                    luctus urna. Cras aliquet nulla vitae mattis
                    malesuada. Sed eget dui turpis. Maecenas aliquet
                    erat lacus, vitae tempor velit tempus eu. Phasellus
                    lobortis cursus diam, in dapibus nisl viverra nec.
                    Nullam a sapien posuere, varius elit et,
                    sollicitudin turpis. Mauris ac erat eget dui mattis
                    sodales. Duis non eros at augue pulvinar imperdiet
                    ac a neque. Nulla at mauris at odio vehicula sodales
                    quis rhoncus eros. Donec leo ligula, vehicula
                    aliquet aliquet sed, eleifend quis magna.</p>
                </md-content>
                </ul>
            </div>
        </div>
</section>