<section data-ng-controller="DealsController">
  <div class=".col-md-4" data-ng-controller="MapsController" data-ng-init="Map()">
      Result on a Map : [{{srchLng}},{{srchLat}}] rad : {{srchRadius}}
      <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
      <div map-canvas id="map-canvas" style="height: 300px;"></div>
  </div>
  <div class=".col-md-2">
    TODO : (once the map service is generic -> update display node according to search criteria)
    Recherche : <input ng-model="searchQuery">
  </div>
  <div class=".col-md-4">
    <ul class="deals unstyled">
      <li data-ng-repeat="deal in deals | filter:searchQuery">
        <h2>
          <a data-ng-href="#!/deals/{{deal._id}}">{{deal.title}}</a>
          <span data-ng-if="hasAuthorization(deal)">
            <a class="btn" href="/#!/deals/{{deal._id}}/edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn" data-ng-click="remove(deal);">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </span>
      <a class="btn" data-ng-click="updateGradePlus(deal);">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
          {{deal.grade}}
          <a class="btn" data-ng-click="updateGradeMinus(deal);">
            <i class="glyphicon glyphicon-minus"></i>
          </a>
          <a class="btn" data-ng-click="updateAlert(deal);">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
          </a>
          {{deal.alert}}
        </h2>
        <span>{{deal.created | date:'medium'}}</span> /
        <span>{{deal.user.name}}</span>
        <div><strong>Prix initial :</strong> {{deal.initialPrice}}</div>
        <div><strong>Prix de vente :</strong> {{deal.salePrice}}</div>
        <div><strong>Latitude :</strong> {{deal.latitude}}</div>
        <div><strong>Longitude :</strong> {{deal.longitude}}</div>
        <div>{{deal.description}}</div>
      </li>
    </ul>
    <h1 data-ng-hide="!deals || deals.length">No deals yet. <br> Why don't you <a href="/#!/deals/create">Create One</a>?</h1>
  </div>

</section>
