<section data-ng-controller="AdminDealsController">
    <form id="deal-add-form" class="row-fluid form-inline" name="addDealForm" data-ng-submit="add()">
        <div class="">
            <span data-ng-repeat="field in dealSchema">
                <input data-ng-if="(field['type'] == 'text' || field['type'] == 'number')" type="{{field['type']}}" class="span2" data-ng-model="deal[field['schemaKey']]" placeholder="{{field['title']}}" id="deal-add-title" />
            </span>
            <input type="submit" class="btn span1" value="Add" />
        </div>
    </form>
    <div class="loader" data-ng-init="init()" data-ng-hide="deals.length"></div>
    <div class="actions-bar" data-ng-show="deals.length">
        <input type="button" class="btn btn-danger" data-ng-hide="edit" data-ng-click="edit=!edit" value="Edit">
        <input type="button" class="btn btn-primary" data-ng-show="edit" data-ng-click="edit=!edit" value="Done">
    </div>
    <table class="table table-striped table-bordered table-hover editable-table" data-ng-show="deals.length">
        <tr>
            <th data-ng-show="edit">
                Edit
            </th>
            <th data-ng-repeat="field in dealSchema" data-ng-if="field.inTable">{{field.title}}</th>
        </tr>
        <tr data-ng-repeat="deal in deals">
            <td data-ng-show="edit">
                <button class="glyphicon glyphicon-trash" data-ng-click="remove(deal)" value="del">
                    <i class="icon-trash icon-white"></i>
                </button>
            </td>	
            <td class="table-editable-cell" data-ng-repeat="field in dealSchema" data-ng-if="field.inTable">
                <span data-ng-if="(field['type'] == 'text' || field['type'] == 'number')" class="editable-span" data-ng-editable="update(deal)" data-ng-editable-model="deal[field['schemaKey']]"></span>
                <span data-ng-click="beforeSelect(field['schemaKey'], deal)" data-ng-if="(field['type'] == 'select')" class="editable-span" data-ng-editable-select="update(deal, field['schemaKey'])" data-ng-editable-select-model="deal[field['schemaKey']]" data-ng-editable-select-options="field['options']">
                </span>
            </td>
        </tr>
    </table>
</section>
